/**
 * Header.css
 *
 * @format
 */

.main-container {
	background-color: #495e57;
	max-height: 45vh;
	margin: auto;
}

.header-container {
	display: flex;
	align-items: flex-start; /* Aligns items at the start of the flex container vertically */
	justify-content: center; /* Centers content horizontally */
	max-width: 1200px; /*Sets a maximum width for the container */
	margin: 0 auto; /* Centers the container horizontally in the viewport */
	height: 40vh; /* Optional: Sets the height to fill the viewport */
	position: relative;
	width: 66%;
}

.header-content {
	width: 100%;
	padding: 15px;
}

.header-content p {
	text-overflow: none;
	text-wrap: wrap;
}

h1 {
	margin-bottom: 0;
	color: #f4ce14;
}
h2 {
	margin-bottom: 1rem;
	margin-top: 0;
	color: #edefee;
}

p {
	line-height: 1.5;
	overflow: hidden;
	width: 50%;
	color: #edefee;
}

.header-image {
	width: 100%; /* Adjusts width to maintain layout proportions */
	/* margin-top: 14rem; Top margin to push the image down */
	z-index: 9999; /* Positions the image behind the content */
	position: relative;
	height: 100%;
}
.header-image img {
	width: 66%; /* Ensures the image fills its container */
	height: 100%; /* Maintains the aspect ratio */
	object-fit: cover; /* Ensures the image covers the area without distortion */
	margin-top: 2.5rem;
	border-radius: 20px;
}

button {
	display: block; /* Ensures the button is on a new line */
	margin-top: 1rem; /* Adds space above the button */
}
