/**
 * Nav.css
 *
 * @format
 */

.navbar {
	display: grid;
	grid-template-columns: repeat(5, auto);
	align-items: center;
	padding: 10px;
	width: 60%;
	margin: auto;
}

.navbar-logo img {
	height: 50px;
	width: auto; /* Maintains the aspect ratio */
	grid-column: 1 / 2; /* Positions the logo in the first grid column */
}

.navbar-items {
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
	grid-column: 2 / -1; /* Positions the nav items starting from the second column */
}

.navbar-item {
	padding: 0 10px;
}

.navbar-item a {
	text-decoration: none;
	color: black; /* Text color for buttons */
	padding: 10px 15px;
	border-radius: 5px; /* Rounded corners for button */
	display: block; /* Makes the entire area clickable */
	font-weight: 900;
}

.navbar-item a:hover {
	background-color: rgb(241, 241, 160); /* Darker blue on hover */
	border-radius: 7px;
}
